@import "tailwindcss";

@theme {
    --font-primary: "Bai Jamjuree", sans-serif;
    
    --color-primary: hsl(171, 66%, 44%);
    --color-secondary: hsl(233, 100%, 69%);

    --color-neutral-500: hsl(201, 11%, 66%);
    --color-neutral-700: hsl(210, 10%, 33%);

}

